.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  color: #182957;
}

.navbar {
  padding: 0 !important;
  transition: all 0.5s;
}
.navbar.navbar-scrolled {
  background-color: #182957 !important;
  box-shadow: 0 3px 10px #182957 !important;
}
.navbar.navbar-scrolled .navbar-brand img {
  background-color: #fff;
}
.navbar.navbar-scrolled ul li a {
  color: #fff !important;
}
.navbar .navbar-brand {
  padding: 10px !important;
  max-width: 30%;
  margin: 0 !important;
  padding: 0 !important;
}
.navbar .navbar-brand img {
  max-width: 100%;
  width: 40%;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 5px;
  margin: 0 0 !important;
}
.navbar ul li {
  font-size: 20px;
  margin-right: 3rem;
}
.navbar ul li a {
  color: #fff !important;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/* Carousel base class */
.carousel {
  margin-top: 0 !important;
  padding-top: 0 !important;
  margin-bottom: 0 !important;
  /* Since positioning the image, we need to help out the caption */
  /* Declare heights because of positioning of img element */
}
.carousel .carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel .carousel-item {
  height: 36rem;
}
.carousel .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 36rem;
}

.detailsSesction {
  padding-top: 2rem;
  margin-bottom: 2rem;
}
.detailsSesction .detailsImage img {
  max-height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.detailsSesction .detailsInfo {
  background-size: cover;
}

.works {
  background-color: #182957;
  margin-bottom: 0 !important;
}
.works .col-lg-3 {
  text-align: center;
  /* rtl:begin:ignore */
  /* rtl:end:ignore */
}
.works .col-lg-3 .work-1 {
  color: #fff;
  padding: 0;
}
.works .col-lg-3 .work-2 {
  padding: 0;
  color: #fff;
}
.works .col-lg-3 .work-3 {
  padding: 0;
  color: #fff;
}
.works .col-lg-3 .work-4 {
  padding: 0;
  color: #fff;
}
.works .col-lg-3 .works-images {
  width: 100%;
  height: 250px;
  margin-bottom: 0.5rem;
}
.works .col-lg-3 .works-images img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.works .col-lg-3 .works-content {
  padding: 10px;
  padding-top: 2rem;
}
.works .col-lg-3 h2 {
  font-weight: 400;
  font-size: 18px;
}
.works .col-lg-3 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  font-size: 14px;
}

.projects .featured-projects .featured-projects-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl        :remove */
  letter-spacing: -0.05rem;
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.projects .featured-projects .featured-projects-images {
  text-align: center;
}
.projects .featured-projects .featured-projects-images:hover {
  color: #182957;
}
.projects .featured-projects .featured-projects-images .featured-img {
  height: 500px;
  width: 600px;
}
.projects .featured-projects .featured-projects-images .featured-img img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.projects .featured-projects .featured-projects-images .featured-projects-images-heading {
  line-height: 1;
  margin-top: 2rem;
  font-weight: 300;
}

.portfolio {
  margin-top: 8rem;
}
.portfolio .portfolio-heading {
  font-weight: 300;
  line-height: 1;
  text-align: center;
}
.portfolio .portfolio-item {
  margin: 2rem 0 0 2rem;
}
.portfolio .portfolio-item img {
  width: 300px;
  height: 200px;
}

.news {
  margin-top: 8rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: #dee0e1;
}
.news .news-heading {
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin-bottom: 3rem;
}
.news .featurette {
  /* Thin out the marketing headings */
}
.news .featurette .featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl        :remove */
  letter-spacing: -0.05rem;
}

.blogs {
  background-color: #fff;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.blogs .blog-heading {
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin-bottom: 3rem;
}
.blogs .blog-image {
  width: 100%;
  align-items: center;
  text-align: center;
}
.blogs .blog-image img {
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.blogs .blog-content {
  width: 100%;
  align-items: center;
  text-align: center;
}
.blogs .blog-content .meta {
  padding-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  color: #4d535c;
}
.blogs .blog-content .meta div {
  font-size: 14px;
  flex: 1 1;
}
.blogs .blog-content .meta div a {
  color: #4d535c;
}
.blogs .blog-content .meta div a:hover {
  color: #f58320;
}
.blogs .blog-content .blog-title {
  width: 100%;
}
.blogs .blog-content .blog-title a {
  text-decoration: none;
  color: #182957;
}

.partners {
  padding-top: 2rem;
  background-color: #fff;
}
.partners .partners-heading {
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin-bottom: 3rem;
}
.partners .partners-logo {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.partners .partners-logo .partner-logo-slide {
  z-index: 100;
}
.partners .partners-logo .partner-logo-slide img {
  max-width: 100%;
  max-height: 100%;
  height: 50px;
}

.featurette .featurette-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* Do not scale the image */
}

.rf {
  width: 100%;
  background-color: #182957;
  color: #fff;
  padding-top: 4rem;
  padding-bottom: 6rem;
}
.rf .col-lg-3 {
  margin: 0 auto;
}
.rf .col-lg-3 h5 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
}
.rf .col-lg-3 .list-unstyled a {
  text-decoration: none;
  color: #fff;
}
.rf .col-lg-3 .list-unstyled a:hover {
  color: #f58320;
}
.rf .footer-logo {
  margin-left: 10px;
}
.rf .footer-logo img {
  max-width: 100%;
  background-color: #fff;
}
.rf a.rf-logo {
  margin-bottom: 3rem;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  line-height: 1;
  font-size: 30px;
}
.rf a.rf-logo:hover {
  color: #182957;
}
.rf .contacts ul {
  margin-left: 0;
  padding-left: 0;
}
.rf .contacts ul li {
  list-style: none;
  margin: 0;
  left: 0;
  padding: 0;
}

footer {
  background-color: #dee0e1;
  height: 100%;
  width: 100%;
  bottom: 0;
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media only screen and (max-width: 600px) {
  .projects {
    background-color: #dee0e1;
    padding: 1rem;
  }
  .projects .featured-projects .featured-projects-images {
    text-align: center;
  }
  .projects .featured-projects .featured-projects-images .featured-img {
    width: 100%;
    height: 200px;
  }
  .projects .featured-projects .featured-projects-images .featured-img img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .projects .featurette {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
  .projects {
    background-color: #dee0e1;
    padding: 1rem;
  }
  .projects .featured-projects .featured-projects-images {
    text-align: center;
  }
  .projects .featured-projects .featured-projects-images .featured-img {
    width: 100%;
    height: 200px;
  }
  .projects .featured-projects .featured-projects-images .featured-img img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .featurette {
    margin-bottom: 1.5rem;
  }
}
@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
  .projects .featured-projects-heading {
    font-size: 1.5rem;
  }
  .projects .featured-projects-images .featured-img {
    height: 400px;
    width: 100%;
  }
  .projects .featured-projects-images .featured-img img {
    width: 30%;
  }
}
@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
  .projects .featured-projects-heading {
    font-size: 1.5rem;
  }
  .projects .featured-projects-images .featured-img {
    height: 400px;
    width: 100%;
  }
  .projects .featured-projects-images .featured-img img {
    width: 30%;
  }
}
